{{ define "main" }}
  <main>
    <header>
      {{ partial "shared/breadcrumb-nav.html" . }}
    </header>
    <article class="author">
      {{ partial "author/featured_image.html" . }}
      {{ partial "author/header.html" . }}
      {{ partial "author/content.html" . }}
      {{ partial "author/meta.html" (dict "email" .Params.email "social" .Params.social) }}
      <section>
        {{ $pages := .Pages }}
        {{ range (.Paginate $pages.ByDate.Reverse.ByWeight).Pages }}
          {{ partial "article/preview.html" . }}
        {{ end }}
      </section>
      <footer>
        {{ partial "shared/pagination.html" . }}
      </footer>
    </article>
  </main>
{{ end }}
