{{ define "main" }}
  <main>
    <header>
      {{ partial "shared/breadcrumb-nav.html" . }}
    </header>
    <article>
      {{ partial "article/featured_image.html" . }}
      {{ partial "article/header.html" . }}
      {{ partial "article/meta.html" . }}
      {{ partial "article/content.html" . }}
      {{ if .Param "authors" }}
        {{ partial "article/authors.html" . }}
      {{ else }}
        {{ if .Site.Author }}
          {{ partial "article/author.html" . }}
        {{ end }}
      {{ end }}
    </article>
    <footer>
      {{ partial "article/comments.html" . }}
    </footer>
  </main>
{{ end }}
