<article class="author">
  {{/* TODO: Argument to be made for partialising images for easy extension. */}}
  {{ if or .Params.Thumbnail .Params.Image }}
    <figure>
      <a href="{{ .RelPermalink }}">
        <img src="{{ with .Params.Thumbnail }}{{ . | relURL }}{{ else }}{{ .Params.Image | relURL }}{{ end }}"/>
      </a>
    </figure>
  {{ end }}
  <header>
    <h4>
      <a href="{{ .Permalink }}">
        {{ with .Params.DisplayName }}{{ . }}{{ else }}{{ .Title }}{{ end }}
      </a>
    </h4>
  </header>
  <section class="bio">
    {{ with .Params.ShortBio }}
      <p>{{ . }}</p>
    {{ else }}
      {{ with .Params.LongBio }}
        <p>{{ . }}</p>
      {{ else }}
        {{ with .Params.Description }}
          <p>{{ . }}</p>
        {{ else }}
          <p>
            {{ .Summary }}
            {{ if .Truncated }}
              <a href="{{ .Permalink }}">More &hellip;</a>
            {{ end }}
          </p>
        {{ end }}
      {{ end }}
    {{ end }}
  </section>
  {{ partial "author/meta.html" (dict "email" .Params.email "social" .Params.social) }}
</article>
