{{ define "main" }}
  <main>
    <article>
      <header>
        <h1>{{ .Title }}</h1>
      </header>
      <section>
        {{ .Content }}
      </section>
      <section>
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ range (.Paginate $pages.ByDate.Reverse.ByWeight).Pages }}
          {{ partial "article/preview.html" . }}
        {{ end }}
      </section>
      <footer>
        {{ partial "shared/pagination.html" . }}
      </footer>
    </article>
  </main>
{{ end }}
